%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .container-fluid.row
    .col-md-6
      %h3 Employee
      %div
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true
      %div
        = f.label :phone
        %br/
        = f.text_field :phone
      %div
        = f.label :role
        %br/
        = f.select(:role, EMPLOYEE_ROLES.collect {|r| [r, r]} , {include_blank: ''})
      %div
        = f.label :email
        %br/
        = f.email_field :email
      %div
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off"
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      %div= f.submit "Sign up"
    .col-md-6
      %h3 Company
      = fields_for @company, url: {action: "create"}, html: {class: "company_form"} do |ff|
        %div
          = ff.label :name
          %br/
          = ff.text_field :name
        %div
          = ff.label :email
          %br/
          = ff.email_field :email
        %div
          = ff.label :phone
          %br/
          = ff.text_field :phone
    
        %h4 Company Address
        = ff.fields_for @address, url: {action: "create"}, html: {class: "address_form"} do |fff|
          %div
            = fff.label :line1
            %br/
            = fff.text_field :line1
          %div
            = fff.label :line2
            %br/
            = fff.text_field :line2
          %div
            = fff.label :city
            %br/
            = fff.text_field :city
          %div
            = fff.label :state
            %br/
            = fff.text_field :state
          %div
            = fff.label :zip
            %br/
            = fff.text_field :zip

= render "employees/shared/links"
