%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .container-fluid.row
    .col-md-4
      %h3 Employee
      .form-group
        = f.label :name
        = f.text_field :name, autofocus: true, class: 'form-control'
      .form-group
        = f.label :phone
        = f.text_field :phone, class: 'form-control'
      .form-group
        = f.label :role
        = f.select(:role, EMPLOYEE_ROLES.collect {|r| [r, r]} , {include_blank: ''}, {:class => 'form-control'})
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

    .col-md-2
    .col-md-4
      %h3 Company
      = fields_for @company, url: {action: "create"}, html: {class: "company_form"} do |ff|
        .form-group
          = ff.label :name
          = ff.text_field :name, class: 'form-control'
        .form-group
          = ff.label :email
          = ff.email_field :email, class: 'form-control'
        .form-group
          = ff.label :phone
          = ff.text_field :phone, class: 'form-control'

        = render partial: 'shared/address_fields', locals: {title: "Company Address", parent_form: ff}    
  %div= f.submit "Sign up", class: 'btn btn-primary pull-left col-xs-12 col-md-2'
%br
%br
%br

= render "employees/shared/links"
