- if title
  %h4= title
= parent_form.fields_for @address, url: {action: "create"}, html: {class: "address_form"} do |ff|
  .form-group
    = ff.label :line1
    = ff.text_field :line1, class: 'form-control'
  .form-group
    = ff.label :line2
    = ff.text_field :line2, class: 'form-control'
  .form-group
    = ff.label :city
    = ff.text_field :city, class: 'form-control'
  .form-group
    = ff.label :state
    = ff.text_field :state, class: 'form-control'
  .form-group
    = ff.label :zip
    = ff.text_field :zip, class: 'form-control'