%h2= "#{@field_trip.name} Event Planning"
.well
  - if @events.empty?
    %p You don't have any events added yet, go ahead and create some!
  - else
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Description
          %th Participation
      %tbody
        - @events.each do |event|
          %tr
            %td= event.name
            %td= event.description
            %td Am I going?
%button.btn.btn-success#create_event{'data-toggle' => 'modal', 'data-target' => '#newEvent'}
  Add new event

.modal.fade#newEvent{:tabindex => -1, :role => :dialog, 'aria-labelledby' => 'modalTitle', 'aria-hidden' => true}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => :button, 'data-dismiss' => :modal, 'aria-hidden' => :true}
          & &times;
        %h4.modal-title#modalTitle Create New Event
      .modal-body
        #event_form
          - event = Event.new
          = form_for(event, remote: false) do |f|
            - if event.errors.any?
              #error_explanation
                %h2
                  = pluralize(event.errors.count, "error")
                  prohibited this event from being saved:
                %ul
                  - event.errors.full_messages.each do |message|
                    %li= message
            .form-group
              = f.label :name
              = f.text_field :name, class: 'form-control'
            .form-group
              = f.label :description
              = f.text_area :description, rows: 3, class: 'form-control'
            .form-group
              = f.label :capacity
              = f.number_field :capacity, class: 'form-control', value: 5
              = f.hidden_field :field_trip_id, :value => @field_trip.id
            .type-selector
              .dropdown
                %button.dropdown-toggle#type_label{ 'data-toggle' => 'dropdown'}
                  Event Type
                  %b.caret
                %ul.dropdown-menu{'aria-labeled-by' => 'type_label', :role => :menu}
                  %li
                    %a{:href => '#restaurant_form', :tabindex => -1, 'data-toggle' => 'tab'}
                      Restaurant
            %hr
            .tab-content
              #other_form.tab-pane.fade
                Other forms
              #restaurant_form.tab-pane.fade
                .form-group
                  = f.label :reservation_type
                  = select :event, :reservation_type, Restaurant.getReservationTypes.collect { |r| [r,r] }, {}, {:class => 'form-control'}
                .form-group
                  = f.label :url
                  = text_field :event, :url, class: 'form-control'
      .modal-footer
        %button.btn.btn-default{:type => :button, 'data-dismiss' => 'modal'} Close
        %button.btn.btn-primary#event_submit{:type => :button, :disabled => false}
          Save

= link_to 'Edit', edit_field_trip_path(@field_trip)
|
\#{link_to 'Back', field_trips_path}
