!!!
%html
  %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %head
    %title FieldtripIt
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if !notice.nil?
      .alert.alert-info
        %button.close{:type => :button, 'data-dismiss' => :alert, 'aria-hidden' => :true}
          & &times;
        %p= notice
    -if !alert.nil?
      .alert.alert-warning
        %button.close{:type => :button, 'data-dismiss' => :alert, 'aria-hidden' => :true}
          & &times;
        %p= alert

    %nav.navbar.navbar-default.navbar.navbar-fixed-top{:role => :navigation}
      .container-fluid
        .navbar-header
          = link_to('Fieldtrip.it', root_path, :class=> 'navbar-brand')
          %button.navbar-toggle{:type => :button, 'data-toggle' => :collapse, 'data-target' => '#user-nav'}
            %span.sr-only
              Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        - if employee_signed_in?
          .collapse.navbar-collapse#user-nav
            %ul.nav.navbar-nav.navbar-right
              -if current_employee.admin
                %li
                  = link_to('Create Fieldtrip', new_field_trip_path)
                %li
                  %a{href:'employees/manage'}Manage Employees
              %li
                %a= current_employee.email
              %li= link_to('Sign Out', destroy_employee_session_path, :method => :delete)
    .col-md-2
    .col-md-8.col-sm-12
      = yield
    .col-md-2